<div id="print_offre">
	<div class="print_offre_header">
		<div>
			<img src="http://www.sorba.ch/Images/srblogo_frz.gif"/>
		</div>
		<div>
			Offre du <%=@offre.created_at.strftime("%d.%m.%Y") %><br/>
			Validité de l'offre :
		</div>
	</div>
	<div class="print_offre_informations">
		<div>
			<strong>SORBA Informatique SA</strong><br/>
			Grand-Rue 1<br/>
			2606 Corgémont
		</div>
		<div>
			<strong><%=@offre.client_nom.to_s %></strong><br/>
			<%="À l'att. de #{@offre.client_reference.to_s}" if !@offre.client_reference.nil? %><br/>
			<%=@offre.client_adresse.to_s if !@offre.client_adresse.nil? %>
			<%=@offre.client_npa.to_s+" "+@offre.client_lieu.to_s %>
		</div>
	</div>
	<!-- TITRE -->
	<h1><%=@offre.texte_string %></h1>
	<!-- MODULES -->
	<% if @offre.offres_modules.length > 0 %>
		<h3>Modules int&eacute;gr&eacute;s dans l'offre</h3>
		<div id="print_offre_modules" class="print_offre_elements">
			<% for of in @offre.offres_modules.order("module_id") do %>
			<div class="print_offre_module print_offre_element">
				<div><%=of.nom %></div>
				<div><%=simple_format(of.description) %></div>
				<div>CHF</div>
				<div><%=format_number(of.prix,"'") %></div>
			</div>
			<% end %>
		</div>
		<% if @offre.rabais_logiciel > 0 or @offre.licences > 0 %>
			<hr />
			<div class="print_total" style="line-height:30px;border-top:1px solid #000">
				<div>Montant total HT pour une licence de base</div>
				<div>CHF</div>
				<div><%=format_number(@offre.total_modules,"'") %></div>
			</div>
		<% end %>
		<% if @offre.licences > 0 %>
			<hr />
			<div class="print_total" style="font-weight:normal">
				<div>
					Prix pour <%=@offre.licences %> licence(s) suppl&eacute;mentaire(s), <br/>
					<span style="color:#888;font-size:0.8em">CHF <%=format_number(@offre.total_licence,"'") %>, soit 20% du prix de la licence de base</span>
				</div>
				<div>CHF</div>
				<div><%=format_number(@offre.total_licences,"'") %></div>
			</div>
		<% end %>
		<% if @offre.rabais_logiciel > 0 %>
			<hr />
			<div class="print_total rabais">
				<div>Rabais sp&eacute;cial swissbau 2012 <%=format_number(@offre.rabais_logiciel,"'") %>%</div>
				<div>CHF</div>
				<div><%=format_number(@offre.total_rabais,"'") %></div>
			</div>
		<% end %>
		<hr />
		<div class="print_total total_final">
			<div>Montant total HT des logiciels</div>
			<div>CHF</div>
			<div><%=format_number(@offre.total_modules_final,"'") %></div>
		</div>
		<hr />
	<% end %>
	
	<!-- SERVICES -->
	<% if @offre.offres_services.length > 0 %>
		<h3>Services</h3>
		<div id="print_offre_services" class="print_offre_elements">
			<% for os in @offre.offres_services.order("service_id") do %>
			<div class="print_offre_service print_offre_element">
				<div><%=simple_format(os.description) %></div>
				<div>CHF</div>
				<div><%=format_number(os.prix_jour.to_f*os.nb_jours.to_f,"'") %></div>
			</div>
			<% end %>
		</div>
		<hr/>
		<div class="print_total total_final">
			<div>Montant total HT des services</div>
			<div>CHF</div>
			<div><%=format_number(@offre.total_services,"'") %></div>
		</div>
		<hr />
	<% end %>
	
		
	<!-- RECAPITULATION -->
	<div id="print_offre_services" class="print_offre_elements">
		<div class="print_total total_final">
			<div>Montant total HT</div>
			<div>CHF</div>
			<div><%=format_number(@offre.total_ht,"'") %></div>
		</div>
		<hr/>
		<div class="print_offre_service print_offre_element" style="border:0;height:10px;margin:0;line-height:10px;font-size:1.2em">
			<div>+ TVA</div>
			<div>CHF</div>
			<div><%=format_number(@offre.total_tva,"'") %></div>
		</div>
		<hr/>
		<div style="border-bottom:2px solid #000;height:35px">
			<div class="print_total total_final">
				<div>Montant TTC</div>
				<div>CHF</div>
				<div><%=format_number(@offre.total_ttc,"'") %></div>
			</div>
		</div>
	</div>
	<hr />

	<!-- ANNUELS -->
	<h3>Abonnement(s) annuel(s) <span style="color:#AAA;font-size:0.8em;font-weight:normal">- non compris dans le total final de l'offre</span></h3>
	<div id="print_offre_modules" class="print_offre_elements">
		<% if @offre.contrat.to_f > 0 %>
		<div class="print_offre_module print_offre_element">
			<div>Contrat maintenance</div>
			<div>
				Mises &agrave; jour du programme sont livr&eacute;es annuellement<br/>
				Support t&eacute;l&eacute;phonique inclus<br/>
				Support t&eacute;l&eacute;maintenance inclu
			</div>
			<div>CHF</div>
			<div><%=format_number(@offre.contrat,"'") %></div>
		</div>
		<% end %>
		<% if @offre.offres_catalogues.length > 0 %>
			<div class="print_offre_module print_offre_element">
				<div>Donn&eacute;es SSE 2012</div>
				<div>
					<% for oc in @offre.offres_catalogues.order("catalogue_id") do %>
						<%=oc.nom.to_s+" "+(oc.catalogue.analyses ? "avec analyses" : "sans analyses")+" - "+(oc.catalogue.membre ? "membre SSE" : "non membre SSE") %>
						<br/>
					<% end %>
				</div>
				<div>CHF</div>
				<div><%=format_number(@offre.total_catalogues,"'") %></div>
			</div>				
		<% end %>
	</div>
	<hr />
	<div class="print_total total_final">
		<div>Montant total des abonnements annuels</div>
		<div>CHF</div>
		<div><%=format_number(@offre.total_annuel,"'") %></div>
	</div>
	<hr />

	<!-- MISE EN PLACE ET TEXTE FINAL -->
	<hr />
	<h3>Mise en place</h3>
	<div id="offre_mise_en_place" class="print_offre_mise_en_place">
		<div>Date d'installation : <strong><%=@offre.date_installation.nil? ? "&agrave; d&eacute;finir".html_safe : format_date(@offre.date_installation) %></strong></div>
		<div>
			<%=simple_format(@offre.texte_installation.to_s) %>
		</div>
		<div>
			<%=simple_format(@offre.texte_final.to_s) %>
		</div>
		<div>
			Date : _________________
		</div>
		<div>
			Signature : ____________________________________
		</div>
		<div>
			Entreprise : ____________________________________
		</div>
		<div>
			<strong>SORBA Informatique SA</strong></br>
			Marcos Caballero
		</div>
	</div>
</div>